/* Copy and paste any or all of these css entries into your custom.css file inside your
 * css folder. The functions are annotated to make things as easy as possible for you.
 * Use any colors you want! Go to - "http://htmlcolorcodes.com/color-picker/"
 * Pick your color, copy and paste the HEX number. Example - #62FF00 = bright green.
 */
 
.MMM-UFO .header{
  color: white;               /* Header color. Default is white. */
  text-align: left;           /* Align header text. (left, center, right) */
}

.MMM-UFO .shape {
  color: white;               /* Color the shape. Default is white. */
}

.MMM-UFO .date {
  color: white;               /* Color the date. Default is white. */
}

.MMM-UFO .cityState {
  color: white;               /* Color the cityState. Default is white. */
}

.MMM-UFO .duration {
  color: white;               /* Color possible duration. Default is white. */
}

.MMM-UFO .summary {
  color: white;               /* Color possible summary. Default is white. */
}